body {
	font-family: 'Frutiger', Lato, sans-serif;
	font-size: 16px !important;
	line-height: 24px !important;
}

table.mainTable {
	display: flex !important;
}

tr {
	position: relative;
	padding-bottom: 14px;
	display: flex;
	flex-direction: column;
}

td {
	display: block;
}

label {
	display: block;
	width: 100%;
	margin-bottom: 8px;
	line-height: 24px;
}

input,
select {
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 50px;
	padding: 0 20px;
	color: #282a2e;
	border: 1px solid #b1b3b3;
	position: relative;
	transition: 0.1s;
	cursor: pointer;
	background-color: #fff;
}

.creCVV2WhatLink {
	display: none;
}

.completeButton {
	border: 2px solid transparent;
	background-color: #282a2e;
	color: #fff;
	border-radius: 30px;
	transition: background-color 0.2s, color 0.2s;
	padding: 0 40px;
	font-size: 15px;
	text-align: center;
	align-items: center;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	white-space: nowrap;
	height: 50px;
}

.completeButton:hover {
	background-color: #000;
	color: #fff;
}

.cancelButton {
	border: 2px solid #282a2e;
	color: black;
	border-radius: 30px;
	transition: background-color 0.2s, color 0.2s;
	padding: 0 40px;
	font-size: 15px;
	text-align: center;
	align-items: center;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	white-space: nowrap;
	height: 50px;
}
